@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.svg-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1152%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='rgba(35%2c 35%2c 35%2c 1)'%3e%3c/rect%3e%3cpath d='M -306.89595904499606%2c373 C -50.9%2c462.8 461.1%2c761.2 973.1040409550039%2c822 C 1485.1%2c882.8 1741.1%2c657 2253.104040955004%2c677 C 2765.1%2c697 3471.72%2c973.4 3533.104040955004%2c922 C 3594.48%2c870.6 2754.62%2c520.4 2560%2c420' stroke='rgba(69%2c 69%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -898.5712862310646%2c428 C -642.57%2c559.6 -130.57%2c1049.4 381.4287137689354%2c1086 C 893.43%2c1122.6 1149.43%2c639.8 1661.4287137689353%2c611 C 2173.43%2c582.2 2761.71%2c940.6 2941.4287137689353%2c942 C 3121.14%2c943.4 2636.29%2c682.8 2560%2c618' stroke='rgba(69%2c 69%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -541.9769937175524%2c758 C -285.98%2c727.8 226.02%2c539 738.0230062824476%2c607 C 1250.02%2c675 1506.02%2c1113 2018.0230062824476%2c1098 C 2530.02%2c1083 3189.63%2c582.8 3298.0230062824476%2c532 C 3406.42%2c481.2 2707.6%2c781.6 2560%2c844' stroke='rgba(69%2c 69%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2275.0280807906292%2c1096 C -2019.03%2c972 -1507.03%2c521.6 -995.0280807906292%2c476 C -483.03%2c430.4 -227.03%2c838.4 284.97191920937075%2c868 C 796.97%2c897.6 1109.97%2c645.6 1564.9719192093708%2c624 C 2019.98%2c602.4 2360.99%2c732.8 2560%2c760' stroke='rgba(69%2c 69%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1152'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #444;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::selection {
  background: #94d2bd; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #94d2bd; /* Gecko Browsers */
}

.animoSpinner1 {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f1f1f1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spinner1 1.3s linear infinite;
}
@keyframes spinner1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
