@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #070606;
  color: #f8f9f9;
  font-family: "Urbanist", system-ui, -apple-system, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.h1 {
  letter-spacing: 0.095em;
}

.gradient-primary {
  background: #970d1a;
  background: linear-gradient(to bottom right, #970d1a 0%, #4e204d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-secondary {
  background: #ff9c60;
  background: linear-gradient(to bottom right, #ff9c60 0%, #ffd6b8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(to bottom, #27180f 0%, #070606 100%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.animoSpinner1 {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f1f1f1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spinner1 1.3s linear infinite;
}
@keyframes spinner1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
